<div class="party-foot">
    <div class="uk-container uk-container-center uk-text-center">

        <p>
            <span class="uk-text-large" ng-bind-html="party.title"></span>
            <br>
            <span class="uk-text-small" ng-bind-html="party.subtitle"></span>
        </p>

        <ul class="uk-subnav uk-subnav-line">
            <li><a href="https://github.com/4rg0n/party-site" class="uk-icon-button uk-icon-github"></a></li>
            <li><a href="" data-uk-tooltip title="Hab ich nich!" class="uk-icon-button uk-icon-facebook"></a></li>
            <li><a href="http://www.html5rocks.com/de/" class="uk-icon-button uk-icon-html5"></a></li>
            <li><a href="http://www.css3.de/" class="uk-icon-button uk-icon-css3"></a></li>
        </ul>

        <div class="uk-panel">
            <p>
                Made by <a href="https://github.com/4rg0n">4rg0n</a> with <i class="uk-icon-heart"></i> and <i class="uk-icon-beer"></i>.
                <br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.
            </p>
            <p>
                Proudly sponsored by <sarcasm><a href="http://4rg0n.github.io/sarcasm.js/">sarcasm.js</a></sarcasm>.
            </p>
        </div>

    </div>
</div>