

<div ng-controller="IndexCtrl">
    <!-- AngularJS View -->

    {% include 'site/head.twig' %}

    <div class="uk-width-medium-1-2 uk-container-center">

        <!-- TODO Laden der Templates ist bugged, über AngularJS laden? -->

        <div class="party-content uk-margin-top uk-margin-bottom">

            {% include 'site/article/about.twig' %}

            {% include 'site/article/location.twig' %}

            {% include 'site/article/gallery.twig' %}

            {% include 'site/article/comment.twig' %}

        </div>

    </div>

    {% include 'site/foot.twig' %}
</div>

{% include 'site/scripts.twig' %}





