<article ng-show="party.about.enable" class="uk-article">
    <h1 class="uk-article-title"><i class="uk-icon-bookmark"></i> About</h1>
    <p class="party-about" sarcasm ng-bind-html="trust(party.about.html)"></p>
</article>