<article ng-show="party.location.enable" class="uk-article">
    <h1 class="uk-article-title">Location</h1>
    <p>
        <iframe ng-src="{[party.location.src]}" frameborder="0" style="border:0; width: 100%; height: 400px;"></iframe>
    </p>
    <hr class="uk-article-divider">
</article>